body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: -moz-linear-gradient();
    background-repeat: no-repeat;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

 

header {
    background-color: #bbd71f50;
    color: #fefefe;
    text-align: center;
    padding: 40px 0;
}
#pcontainer{
    border: 5px;
    border-style:groove;
    border-color:#cfc1c1;
  background-color:burlywood;
    display: flex;
    justify-content: flex-start;
    height: 205px;  
    border-radius: 20ch;
}

#pcontainer img {
    margin-left: 15px;
    margin-top: 8px;
    border-radius: 12ch;
    border-image: 2px;
    border: 5px solid;
    border-color: #101010e2;
    
}
#pcontainer p ,#pcontainer h1 {
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    padding-block: 5px;
    font-size: 30px;
  
}
.text{
    margin-left: 20ch;
    margin-top: 5ch;
   text-align: right;
   color: #101010e2;
}
.text p{
    font-size: 25px;
}
.text h1{
    font-size: 35px;
   text-align: left;
}

.nav {
    display: flex;
    justify-content:space-around;
    background-color: #333;
    padding: 10px;
   
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    
}

.nav-link:hover {
    color: #ddd;
   border-color: #ddd;
}

section {
    margin: 40px 0;
    color: white;
}

h2 {
    color: #fdfcfc;
}

ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

li {
    margin-bottom: 10px;
    color: white;
}


.walpaper2 {
        display: flex;
        height: 38ch;
        width: 100%;
        margin-top: 30px;
        align-items: center;
        background-image: url('walpaper2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: grayscale(100%);
        

  }

  .walpaper2:hover{
    filter: grayscale(0%);
   transition: ease-out;
    transition: ease-in;
   transition: 1s;
  
    
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.walpaper2 h1{
    text-align: left;
    margin-left: 150px;
    color: #ddd;
    animation: fadeIn 5s;
    

}
  .wallpaper-div h1{
    font-style: normal;
    font-size: 4ch;
    text-decoration:double;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .about {
    border-top: #ddd solid 2px;
    border-bottom: #ddd solid 2px;
    padding: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


.skill{
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.project {
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.education{
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}




.viewproject:hover {
    background-color: #555;
    border: rgb(246, 248, 247) solid;
   

}

.viewproject{
padding: 7px;
background-color: #ddd;
    border-radius: 7px;
    border: 5px;
    border-color: #ddd;
    text-decoration: none;
}



.btn--download:hover {
    background-color: #555;
    border: rgb(246, 248, 247) solid;
   

}

.btn--download{
padding: 10px;
background-color: #ddd;
    border-radius: 5px;
    border: 5px;
    border-color: #ddd;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
